/* Note */
.pdf .note-data::after{
    content: ':';
    margin-left: 4px;
    margin-right: 4px;
}

.pdf .company{
    font-size: .8rem;
}

/* Admin Page */
.voyager input[type=file].csv {
    padding:7px;
    display:inline-block;
    margin-left:1rem;
}

.voyager .inline-block {
    display:inline-block;
}

.voyager .margin-right-1{
    margin-right:0.35rem;
}

.voyager #bulk_print_btn{
    padding-top: 8px;
}

.voyager #dataTable td:first-child{
    text-align: center;
}

.voyager #dataTable th{
    vertical-align: top;
}

.voyager table.dataTable thead th.sorting::after{
    right:4px;
}